// Aside block with navigation
//////////////////////////////////////////////////////


.company-label {
    cursor: pointer;
    margin-bottom: 60px;
    @include padding-top-left($aside-padding);

    .company-label__logo {
        margin-right: 10px;
    }
}

.navigation {
    li {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;

        margin-bottom: 40px;
        @include padding-left($aside-padding);

        transition: color .1s ease-in-out;

        &:hover {
            color: $color__blue;

            svg path {
                stroke: $color__blue;
            }

            &::after {
                left: 0;
            }
        }

        figure {
            margin-right: 12px;

            svg path {
                transition: stroke .1s ease-in-out;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: -3px;
            height: 100%;
            width: 3px;

            background-color: $color__blue;
            transition: left .1s ease-in-out;
        }
    }
}