// Main Elements normalization
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


html {
    height: 100%;
    -webkit-text-size-adjust: none;
}

body {
    height: 100%;
    color: $color__black;
    margin: 0;
    padding: 0;

    font-size: $font-size--base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;

    backface-visibility: hidden;
}


// No outline on focus controls
button,
input,
textarea,
a,
li,
div {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover,
    &:active,
    &:focus {
        outline: none !important;
    }
}


// Sections

// All blocks to border-box
main,
article,
aside,
figure,
address section,
div,
form,
fieldset,
input,
select,
button,
a {
    box-sizing: border-box;
}

main,
article,
aside,
figure,
address,
div,
form,
fieldset,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


// Lists
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


// Forms
input {
    border: none;
    box-shadow: none;
}