// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@mixin padding-top-left($value) {
    padding-top: $value;
    padding-left: $value;
}

@mixin padding-left($value) {
    padding-left: $value;
}