// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Sizes
//////////////////////////////////////////////////////

$gutter: 20px;


// Colors
//////////////////////////////////////////////////////

// Palette

$color__white: #fff;
$color__black: #000;

$color__primary: #FAFAFA;
$color__secondary: #F3F4F9;