// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


// Colors
//////////////////////////////////////////////////////

$color__white: #fff;
$color__black: #000;

$color__red: #DF212D;
$color__red-transparent: rgba(223, 33, 45, 0);

$color__primary: #FAFAFA;
$color__secondary: #F3F4F9;

$color__border: rgba(51, 51, 51, 0.2);
$color__text-gray: rgba(0, 0, 0, 0.5);