// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


// Colors
//////////////////////////////////////////////////////

$color__white: #fff;
$color__black: #000;
$color__blue: #34ABE0;
$color__red: #DF212D;
$color__red-transparent: rgba(223, 33, 45, 0);

$color__primary: #FAFAFA;
$color__secondary: #F3F4F9;

$color__border: rgba(51, 51, 51, 0.2);
$color__text-gray: rgba(0, 0, 0, 0.5);
$color__text-aside: #333333;
$color__aside-btn: #262626;


// Padding
//////////////////////////////////////////////////////

$aside__padding: 2.5rem;
$aside__padding-mobile: 1.25rem;


// Width
//////////////////////////////////////////////////////

$aside__length: 240px;

$aside__length-md-close: 100px;
$aside__length-md-open: 200px;

$aside__length-mobile-close: 12px;
$aside__length-mobile-open: 190px;


// Transition
//////////////////////////////////////////////////////

$tr__body--padding: .2s;

$tr__aside: .2s;
$tr__aside--text: .1s;

$tr__coupon--border: .2s;


// Breackpoints and containers
//////////////////////////////////////////////////////

// Large screen / LG desktop / laptops
$breackpoints__lg: 1407px;

// Medium screen / MD desktop / small screens
$breackpoints__md: 1023px;

// Small screen / SM / tablet
$breackpoints__sm: 767px;

// Small screen / phones
$breackpoints__mobile: 550px;

// Extra small screen / XS / phone
$breackpoints__xs: 359px;